<?xml version="1.0" encoding="utf-8"?>
<!--
Copyright (c) 2017 Jason Bayldon

Licensed under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License.
You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.
-->
<packages>
  <package id="HtmlAgilityPack" version="1.6.10" targetFramework="net452" />
  <package id="ImapX" version="2.0.0.18" targetFramework="net452" />
  <package id="JetBrains.Annotations" version="11.0.0" targetFramework="net452" />
  <package id="Microsoft.Office.Interop.Excel" version="14.0.0.1" targetFramework="net452" />
  <package id="Microsoft.Office.Interop.Outlook" version="15.0.4797.1003" targetFramework="net48" />
  <package id="Microsoft.Office.Interop.Word" version="15.0.4797.1003" targetFramework="net48" />
  <package id="Newtonsoft.Json" version="10.0.3" targetFramework="net452" />
  <package id="OneNoteOCR" version="1.0.0.0" targetFramework="net452" />
  <package id="RestSharp" version="106.6.9" targetFramework="net452" />
  <package id="Selenium.Support" version="3.141.0" targetFramework="net48" />
  <package id="Selenium.WebDriver" version="3.141.0" targetFramework="net48" />
  <package id="Serilog" version="2.7.1" targetFramework="net452" />
  <package id="Serilog.Formatting.Compact" version="1.0.0" targetFramework="net452" />
  <package id="Serilog.Sinks.File" version="4.0.0" targetFramework="net452" />
  <package id="SharpCompress" version="0.25.1" targetFramework="net48" />
  <package id="SharpSimpleNLG" version="1.2.0" targetFramework="net452" />
  <package id="SuperSocket.ClientEngine.Core" version="0.8.0.13" targetFramework="net452" />
  <package id="System.Buffers" version="4.5.1" targetFramework="net48" />
  <package id="System.Memory" version="4.5.4" targetFramework="net48" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net48" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.5.3" targetFramework="net48" />
  <package id="TaskScheduler" version="2.6.1" targetFramework="net452" />
  <package id="WebSocket4Net" version="0.15.0" targetFramework="net452" />
</packages>