<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.AspNet.SignalR.Client" version="2.2.1" targetFramework="net48" />
  <package id="Microsoft.AspNet.SignalR.Core" version="2.2.1" targetFramework="net48" />
  <package id="Microsoft.Owin" version="3.0.1" targetFramework="net48" />
  <package id="Microsoft.Owin.Security" version="3.0.1" targetFramework="net48" />
  <package id="Newtonsoft.Json" version="10.0.3" targetFramework="net48" />
  <package id="Owin" version="1.0" targetFramework="net48" />
  <package id="RestSharp" version="106.6.9" targetFramework="net48" />
  <package id="Serilog" version="2.5.0" targetFramework="net48" />
  <package id="Serilog.Sinks.File" version="4.1.0" targetFramework="net48" />
  <package id="Serilog.Sinks.Http" version="6.0.0" targetFramework="net48" />
  <package id="Serilog.Sinks.PeriodicBatching" version="2.3.0" targetFramework="net48" />
  <package id="Serilog.Sinks.RollingFile" version="3.3.0" targetFramework="net48" />
  <package id="Serilog.Sinks.SignalR" version="2.0.10" targetFramework="net48" />
  <package id="SuperSocket.ClientEngine.Core" version="0.8.0.13" targetFramework="net48" />
  <package id="System.Collections.Specialized" version="4.3.0" targetFramework="net48" />
  <package id="System.IO" version="4.3.0" targetFramework="net48" />
  <package id="System.Linq" version="4.3.0" targetFramework="net48" />
  <package id="System.Net.NameResolution" version="4.3.0" targetFramework="net48" />
  <package id="System.Net.Security" version="4.3.0" targetFramework="net48" />
  <package id="System.Net.Sockets" version="4.3.0" targetFramework="net48" />
  <package id="System.Runtime" version="4.3.0" targetFramework="net48" />
  <package id="System.Runtime.Extensions" version="4.3.0" targetFramework="net48" />
  <package id="System.Runtime.InteropServices" version="4.3.0" targetFramework="net48" />
  <package id="System.Security.Cryptography.Algorithms" version="4.3.0" targetFramework="net48" />
  <package id="System.Security.Cryptography.Encoding" version="4.3.0" targetFramework="net48" />
  <package id="System.Security.Cryptography.Primitives" version="4.3.0" targetFramework="net48" />
  <package id="System.Security.Cryptography.X509Certificates" version="4.3.0" targetFramework="net48" />
  <package id="System.Text.RegularExpressions" version="4.3.0" targetFramework="net48" />
  <package id="System.Threading" version="4.3.0" targetFramework="net48" />
  <package id="System.Threading.Timer" version="4.3.0" targetFramework="net48" />
  <package id="WebSocket4Net" version="0.15.0" targetFramework="net48" />
</packages>